.color-block {
    background-color: blue;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.instructions {
    font-size: 35px;
}

.wrapper {
    font-size: 50px;
    text-align: center;
}

.buttons {
    text-align: center;
    font-size: 50px;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.win {
    font-size: 50px;
    text-align: center;
}

.white-text {
    color : white;
}

.black-text {
    color : black;
}

.colors {
    margin : 50px;
    font-size: 60px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    transition: transform 0.3s;
}

.time {
    font-size: 50px;
}

.scores {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 20px;
    padding: 5px 20px;
    box-sizing: border-box;
}

.fractions {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 20px;
    padding: 5px 20px;
}

.quit {
    top: 0;
    margin: 30px auto;
    font-size: 30px;
}

.fraction {
    text-align: right;
}

.timed-start {
    text-align: center;
}

.final-score {
    font-size: 100px;
    text-align: center;
}

.colors:hover {
    transform: scale(1.25);
    transition: transform 0.5s;
}

@media only screen and (max-width: 600px) {
    .fractions {
        display: none;
    }
    .scores {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .color-block {
        width: 100px;
        height: 100px;
    }
    .colors {
        font-size: 30px;
        margin: 20px;
    }
    .you-lost {
        font-size: 30px;
    }
    .your-answer{
        font-size: 30px;
    }
    .answer {
        font-size: 30px;
    }
}

@media only screen and (max-width: 900px) {
    .quit {
        margin-top: 100px;
    }
    .start-button {
        margin-top: 20px;
    }
}

.hidden {
    display:none;
}

.comic-sans{
    top: 0;
    left: 0;
    position: absolute;
    color : #0f0f0f;
    margin: 0;
}

.arial{
    font-family: arial;
}

.comic-sans-ms{
    font-family: "Comic Sans MS";
}